{% include 'head.html' %}
{% include 'header.html' %}
<br>
<div id="addAttractionModal" >
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% if request.session.is_edit != 1 %}
                <div class="modal-header">
                    <h4 class="modal-title">Add Attraction</h4>
                </div>
                {% else %}
                <div class="modal-header">
                    <h4 class="modal-title">Update Attraction</h4>
                </div>
                {% endif %}
                
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" name="name" value="{{ other.instance.name}}" class="form-control" style="color: black;" placeholder="Enter Attraction name" required>
                    </div>
                    <div class="form-group">
                        <label>Image</label>
                        <input type="file" name="img" class="form-control" required>
                        {% if other.instance.att_imgs %}
                        <p>Previous Image: {{ other.instance.att_imgs }}</p>
                    {% endif %}
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    {% if request.session.is_edit != 1 %}
                    <button type="submit" class="btn btn-success">Add</button>
                    {% else %}
                    <button type="submit" class="btn btn-success">Update</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2><b>Attractions</b></h2>
                </div>

                <div class="col-sm-6">
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for attraction in attractions %}
                <tr>
                    
                    <td style="text-align: center;">
                        <img style="border: 2.5px solid #86B817;" src="{{ attraction.att_imgs }}" alt="Attraction img" height="100" width="200">
                    </td>
                                        <td>{{ attraction.name }}</td>
                    <td>
                        <a href="edit_att/{{ attraction.id }}" class="edit" data-toggle="modal"><i class="fa fa-edit text-primary me-2"></i>
                        </a>
                        <a href="del_att/{{ attraction.id }}" class="delete" data-toggle="modal"><i class="fa fa-trash text-danger"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="clearfix">
            <div class="hint-text">Showing <b>{{ attractions|length }}</b> entries</div>
            <ul class="pagination">
            </ul>
        </div>
    </div>
</div>

{% include 'footer.html' %}
{% include 'script.html' %}
