{% include 'head.html' %}
{% include 'header.html' %}
<style>
    .form-control{
        color:black;
    }
</style>
<div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row justify-content-center py-5">
            <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Register</h1>
                <div class="position-relative w-75 mx-auto animated slideInDown">
                    <p class="form-control border-0 rounded-pill w-100 placeholder=">Traveler</p>
                    <button type="button" onclick="window.location.href='u_regi';" class="btn btn-primary rounded-pill py-2 px-4 position-absolute top-0 end-0 me-2" style="margin-top: 7px;">Go !</button>
                </div>
                <div class="position-relative w-75 mx-auto animated slideInDown">
                    <p class="form-control border-0 rounded-pill w-100 placeholder=">Agent</p>
                    <button type="button"  onclick="window.location.href ='a_regi';" class="btn btn-primary rounded-pill py-2 px-4 position-absolute top-0 end-0 me-2" style="margin-top: 7px;">Go !</button>
                </div>
            </div>
            <br>
            <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-3 text-white mb-3 animated slideInDown">login</h1>
                <div class="position-relative w-75 mx-auto animated slideInDown">
                    <p class="form-control border-0 rounded-pill w-100 placeholder=">Traveler</p>
                    <button type="button" onclick="window.location.href='u_login';" class="btn btn-primary rounded-pill py-2 px-4 position-absolute top-0 end-0 me-2" style="margin-top: 7px;">Go !</button>
                </div>
                <div class="position-relative w-75 mx-auto animated slideInDown">
                    <p class="form-control border-0 rounded-pill w-100 placeholder=">Agent</p>
                    <button type="button"  onclick="window.location.href ='a_login';" class="btn btn-primary rounded-pill py-2 px-4 position-absolute top-0 end-0 me-2" style="margin-top: 7px;">Go !</button>
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'footer.html' %}
{% include 'script.html' %}